/* TODO Add site wide styles */


/* --------------------------------


font-family: 'Comforter', cursive;
font-family: 'Genos', sans-serif;   (NO)
font-family: 'Gochi Hand', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Jost', sans-serif;
font-family: 'M PLUS 1p', sans-serif;  *** 
font-family: 'Meow Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/ 

* {
    margin: 0;
    background-color: #e4e0e9;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'M PLUS 1p', sans-serif;
}

body, div { 
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
}

/********************** BUTTON 1 ***********************/

/* button {
    border-radius: 20px;
    border: 1px solid #b12bff;
    background-color: #543c63;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.cancel-button {
    border: 1px solid #910835;
    background-color: #910835;
} */

/********************** BUTTON 2 ***********************/

/* <!-- HTML !-->
<button class="button-24" role="button">Button 24</button> */

/* CSS */
.button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}

/******************* FORMs *******************/

form {
    width: 290px;
}
