/* TODO Add site wide styles */


/* --------------------------------

font-family: 'Comforter', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Prompt', sans-serif;

*/ 