

/* button:active {
    transform: scale(0.95);
} */


/* * {
    box-sizing: border-box;
} */

.signup-form-container {
    background: #e4e0e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}
